.sidebar {
  width: 240px;
  min-height: calc(100vh - 70px);
  background: #1f2937;
  color: white;
  padding: 20px;
}

.sidebar-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 12px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #2563eb;
}